
<div class="search-hero">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Start searching for a hero by id or name or country">
</div>
<div class="basic-container">

  <mat-grid-list cols="4" rowHeight="fit"  [style.height]="'400px'" [style.width]="'100%'">
      <div  *ngFor="let w of listingItems.results | filter:searchText">
    <mat-grid-tile  class="align-tile">
      <mat-card class="example-card">
        <img mat-card-image class="image-watch" src="../../../assets/images/michael-kors1.jpg" alt="Photo of a Shiba Inu">

        <mat-card-title class="title">{{w.name}}</mat-card-title>
        <mat-card-subtitle class="subtitle">{{w.price}}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>

      </mat-card>
    </mat-grid-tile>
  </div>
  </mat-grid-list>

</div>
<!--
<div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Hero Name</th>
          <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes | filter:searchText">
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td>
          <td>{{hero.country}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
-->
